.color-light {
    color: #34bebb;
}

.wFull {
    width: 100%;
}

.mb15 {
    margin-bottom: 15px;
}

.mb0 {
    margin-bottom: 0;
}

.pt0 {
    padding-top: 0;
}

.pt50 {
    padding-top: 50px;
}

.pb0 {
    padding-bottom: 0;
}

body {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.thp-logo-img {
    height: 100%;
}

.thp-navbar .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

.thp-navbar {
    margin-bottom: 0;
}

.thp-content-box.first {
    padding-top: 80px;
}

.thp-content-box {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-footer {
    background: #202020;
    padding: 35px 0 35px 0;
    color: #959595;
}

.main-footer .footer-div {
    border-left: 1px solid #303030;
    height: 82px;
}

.main-footer .title {
    color: #ffffff;
    font-size: 115%;
}

.main-footer dd a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #959595;
    display: block;
}

.main-footer dd a.with-img {
    padding-top: 0;
    padding-bottom: 0;
}

.main-footer img.product-img {
    height: 30px;
}

.copyright {
    background: #111;
    color: #555555;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 28px;
    border-top: 1px solid #303030;
    font-size: 12px;
}

.copyright a {
    color: #555555;
}

@media (max-width: 768px) {
    .carousel-indicators li {
        width: 8px;
        height: 8px;
    }

    .carousel-indicators .active {
        width: 8px;
        height: 8px;
        margin: 1px;
    }

    .main-footer .footer-div {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .thp-navbar .navbar-nav > li > a {
        font-size: 16px;
        padding: 20px 7px 20px 7px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .thp-navbar .navbar-nav > li.active > a {
        padding-bottom: 17px;
    }

    .thp-navbar .navbar-nav > li:nth-last-child(1) > a {
        margin-right: 0;
    }

    .thp-navbar.navbar-default .navbar-nav > .active > a, .thp-navbar.navbar-default .navbar-nav > .active > a:focus, .thp-navbar.navbar-default .navbar-nav > .active > a:hover {
        border-bottom: 3px solid #34bebb;
        color: #777;
        background-color: transparent;
    }

    .thp-navbar .navbar-brand {
        padding-top: 6px;
        padding-bottom: 6px;
        height: 60px;
    }

    .thp-content-box.first {
        padding-top: 100px;
    }

    .thp-content-box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {
    .gray-bg-md-lg {
        background-color: #f2f2f2;
    }

    .black-bg-md-lg {
        background-color: #232428;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
}