<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.orgwy_blocked_device-mapper.xml//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <!--<mapper resource="mybatis/mappers/*-mapper.xml"/>-->
        <!--<mapper resource="mybatis/mappers/*-custom-mapper.xml"/>-->
        <mapper resource="mybatis/mappers/re_customer-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_customer-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_customer_extend-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_customer_extend-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_customer_extend_step-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_customer_extend_step-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_customer_envelope-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_customer_envelope-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_customer_apply-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_customer_apply-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_record-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_record-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_access_token-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_access_token-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_param_config-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_param_config-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/wxmsg_keyword_reply_rule-mapper.xml"/>
        <mapper resource="mybatis/mappers/wxmsg_keyword_reply_rule-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_banner-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_banner-custom-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_mission-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_mission-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_mission_sort-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_mission_sort-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_account_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_account_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_score_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_score_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_verify_code-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_verify_code-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_bind-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_bind-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_withdraw_bind-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_withdraw_bind-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_receive_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_receive_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_fixed_red-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_fixed_red-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_code_red-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_code_red-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_code_red_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_code_red_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_exchange_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_exchange_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_rotate_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_rotate_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_feedback-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_feedback-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_address-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_address-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_commission-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_commission-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_commission_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_commission_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_commission_withdraw-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_commission_withdraw-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_invitation-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_invitation-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_portrait-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_portrait-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_withdraw_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_withdraw_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_coin_item-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_coin_item-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_andriod_app-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_andriod_app-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_user_andriod_app_history-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_user_andriod_app_history-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_app-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_app-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_app_keywords-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_app_keywords-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_app_task-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_app_task-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_app_market-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_app_market-mapper.xml"/>

        <mapper resource="mybatis/mappers/wx_share_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/wx_share_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/wx_share_mission-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/wx_share_mission-mapper.xml"/>

        <mapper resource="mybatis/mappers/wx_share_user-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/wx_share_user-mapper.xml"/>

        <mapper resource="mybatis/mappers/wx_share_user_relation-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/wx_share_user_relation-mapper.xml"/>

        <mapper resource="mybatis/mappers/wx_share_red_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/wx_share_red_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_recommend_mission-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_recommend_mission-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_recommend_mission_require-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_recommend_mission_require-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_recommend_mission_step-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_recommend_mission_step-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_recommend_task-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_recommend_task-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_code_exchange_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_code_exchange_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_share_mission-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_share_mission-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_share_mission_detail-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_share_mission_detail-mapper.xml"/>

        <mapper resource="mybatis/mappers/re_financial_mall-custom-mapper.xml"/>
        <mapper resource="mybatis/mappers/re_financial_mall-mapper.xml"/>

    </mappers>
</configuration>