<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_account_detail">

    <select id="getLastSignDetail" resultMap="BaseResultMap">
        <include refid="re_account_detail.SELECT_All_Column"/>
        FROM  re_account_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
        AND   detail_type = '2'
        ORDER BY detail_time DESC
        LIMIT 1
    </select>

    <select id="getMoneyList" resultMap="BaseResultMap" parameterType="int">
        <include refid="re_account_detail.SELECT_All_Column"/>
        FROM re_account_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
        ORDER BY detail_time DESC
    </select>

    <select id="getTotalNum" resultType="int" parameterType="int">
        SELECT  COUNT(*)
        FROM    re_account_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>