<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_article_click_detail">
    <resultMap id="BaseResultMap" type="com.iask.red_envelope.model.ReArticleClickDetail">
        <id column="article_id" property="articleId" jdbcType="BIGINT"/>
        <id column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="is_praised" property="isPraised" jdbcType="TINYINT"/>
        <result column="praise_time" property="praiseTime" jdbcType="VARCHAR"/>
        <result column="click_time" property="clickTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT article_id, open_id, user_id, is_praised, praise_time, 
        click_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.iask.red_envelope.model.ReArticleClickDetail">
        <include refid="re_article_click_detail.SELECT_All_Column"/>
        FROM re_article_click_detail
        WHERE article_id = #{articleId,jdbcType=BIGINT}
        AND open_id = #{openId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.iask.red_envelope.model.ReArticleClickDetail">
        DELETE FROM re_article_click_detail
        WHERE article_id = #{articleId,jdbcType=BIGINT}
        AND open_id = #{openId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.iask.red_envelope.model.ReArticleClickDetail">
        INSERT INTO re_article_click_detail ( article_id, 
          open_id, user_id, is_praised, 
          praise_time, click_time )
        VALUES ( #{articleId,jdbcType=BIGINT}, 
          #{openId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{isPraised,jdbcType=TINYINT}, 
          #{praiseTime,jdbcType=VARCHAR}, #{clickTime,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.iask.red_envelope.model.ReArticleClickDetail">
        INSERT INTO re_article_click_detail
        <trim prefix="(" suffixOverrides="," suffix=")">
                article_id,
                open_id,
            <if test="userId != null">
                user_id,
            </if>
            <if test="isPraised != null">
                is_praised,
            </if>
            <if test="praiseTime != null">
                praise_time,
            </if>
            <if test="clickTime != null">
                click_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{articleId,jdbcType=BIGINT},
                #{openId,jdbcType=VARCHAR},
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="isPraised != null">
                #{isPraised,jdbcType=TINYINT},
            </if>
            <if test="praiseTime != null">
                #{praiseTime,jdbcType=VARCHAR},
            </if>
            <if test="clickTime != null">
                #{clickTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_article_click_detail ( article_id, 
          open_id, user_id, is_praised, 
          praise_time, click_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.articleId,jdbcType=BIGINT}, 
            #{item.openId,jdbcType=VARCHAR}, #{item.userId,jdbcType=INTEGER}, #{item.isPraised,jdbcType=TINYINT}, 
            #{item.praiseTime,jdbcType=VARCHAR}, #{item.clickTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iask.red_envelope.model.ReArticleClickDetail">
        UPDATE re_article_click_detail
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="isPraised != null">
                is_praised = #{isPraised,jdbcType=TINYINT},
            </if>
            <if test="praiseTime != null">
                praise_time = #{praiseTime,jdbcType=VARCHAR},
            </if>
            <if test="clickTime != null">
                click_time = #{clickTime,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE article_id = #{articleId,jdbcType=BIGINT}
        AND open_id = #{openId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iask.red_envelope.model.ReArticleClickDetail">
        UPDATE re_article_click_detail
        SET user_id = #{userId,jdbcType=INTEGER},
            is_praised = #{isPraised,jdbcType=TINYINT},
            praise_time = #{praiseTime,jdbcType=VARCHAR},
            click_time = #{clickTime,jdbcType=VARCHAR}
        WHERE article_id = #{articleId,jdbcType=BIGINT}
        AND open_id = #{openId,jdbcType=VARCHAR}
    </update>
</mapper>