<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_app_keywords">
    <resultMap id="BaseResultMap" type="com.iask.red_envelope.model.ReAppKeywords">
        <id column="keyword_id" property="keywordId" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="BIGINT"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="money" property="money" jdbcType="DECIMAL"/>
        <result column="total_num" property="totalNum" jdbcType="INTEGER"/>
        <result column="left_num" property="leftNum" jdbcType="INTEGER"/>
        <result column="task_label" property="taskLabel" jdbcType="VARCHAR"/>
        <result column="release_time" property="releaseTime" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT keyword_id, app_id, keyword, money, total_num, 
        left_num, task_label, release_time, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.iask.red_envelope.model.ReAppKeywords">
        <include refid="re_app_keywords.SELECT_All_Column"/>
        FROM re_app_keywords
        WHERE keyword_id = #{keywordId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.iask.red_envelope.model.ReAppKeywords">
        DELETE FROM re_app_keywords
        WHERE keyword_id = #{keywordId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.iask.red_envelope.model.ReAppKeywords">
        INSERT INTO re_app_keywords ( app_id, 
          keyword, money, total_num, 
          left_num, task_label, release_time, 
          create_time )
        VALUES ( #{appId,jdbcType=BIGINT}, 
          #{keyword,jdbcType=VARCHAR}, #{money,jdbcType=DECIMAL}, #{totalNum,jdbcType=INTEGER}, 
          #{leftNum,jdbcType=INTEGER}, #{taskLabel,jdbcType=VARCHAR}, #{releaseTime,jdbcType=VARCHAR}, 
          #{createTime,jdbcType=VARCHAR} )
        <selectKey keyProperty="keywordId" resultType="long">
            SELECT LAST_INSERT_ID() AS keywordId
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.iask.red_envelope.model.ReAppKeywords">
        INSERT INTO re_app_keywords
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="appId != null">
                app_id,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
            <if test="money != null">
                money,
            </if>
            <if test="totalNum != null">
                total_num,
            </if>
            <if test="leftNum != null">
                left_num,
            </if>
            <if test="taskLabel != null">
                task_label,
            </if>
            <if test="releaseTime != null">
                release_time,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="appId != null">
                #{appId,jdbcType=BIGINT},
            </if>
            <if test="keyword != null">
                #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                #{money,jdbcType=DECIMAL},
            </if>
            <if test="totalNum != null">
                #{totalNum,jdbcType=INTEGER},
            </if>
            <if test="leftNum != null">
                #{leftNum,jdbcType=INTEGER},
            </if>
            <if test="taskLabel != null">
                #{taskLabel,jdbcType=VARCHAR},
            </if>
            <if test="releaseTime != null">
                #{releaseTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="keywordId" resultType="long">
            SELECT LAST_INSERT_ID() AS keywordId
        </selectKey>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_app_keywords ( app_id, 
          keyword, money, total_num, 
          left_num, task_label, release_time, 
          create_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.appId,jdbcType=BIGINT}, 
            #{item.keyword,jdbcType=VARCHAR}, #{item.money,jdbcType=DECIMAL}, #{item.totalNum,jdbcType=INTEGER}, 
            #{item.leftNum,jdbcType=INTEGER}, #{item.taskLabel,jdbcType=VARCHAR}, #{item.releaseTime,jdbcType=VARCHAR}, 
            #{item.createTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iask.red_envelope.model.ReAppKeywords">
        UPDATE re_app_keywords
        <set>
            <if test="appId != null">
                app_id = #{appId,jdbcType=BIGINT},
            </if>
            <if test="keyword != null">
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="money != null">
                money = #{money,jdbcType=DECIMAL},
            </if>
            <if test="totalNum != null">
                total_num = #{totalNum,jdbcType=INTEGER},
            </if>
            <if test="leftNum != null">
                left_num = #{leftNum,jdbcType=INTEGER},
            </if>
            <if test="taskLabel != null">
                task_label = #{taskLabel,jdbcType=VARCHAR},
            </if>
            <if test="releaseTime != null">
                release_time = #{releaseTime,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE keyword_id = #{keywordId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iask.red_envelope.model.ReAppKeywords">
        UPDATE re_app_keywords
        SET app_id = #{appId,jdbcType=BIGINT},
            keyword = #{keyword,jdbcType=VARCHAR},
            money = #{money,jdbcType=DECIMAL},
            total_num = #{totalNum,jdbcType=INTEGER},
            left_num = #{leftNum,jdbcType=INTEGER},
            task_label = #{taskLabel,jdbcType=VARCHAR},
            release_time = #{releaseTime,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=VARCHAR}
        WHERE keyword_id = #{keywordId,jdbcType=BIGINT}
    </update>
</mapper>