<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_banner">

    <select id="getAllBanner" resultMap="BaseResultMap">
        <include refid="re_banner.SELECT_All_Column"/>
        FROM    re_banner
        ORDER   BY  banner_order ASC
    </select>

</mapper>