<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_customer_extend_step">

    <select id="selectStepByExtendId" resultMap="BaseResultMap" parameterType="INTEGER">
        <include refid="re_customer_extend_step.SELECT_All_Column"/>
        FROM re_customer_extend_step
        WHERE extend_id = #{extendId,jdbcType=INTEGER}
        ORDER BY step_num ASC
    </select>

</mapper>