<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_customer_apply">

    <select id="selectByIdAndParam" resultMap="BaseResultMap" parameterType="map">
        <include refid="re_customer_apply.SELECT_All_Column"/>
        FROM re_customer_apply
        WHERE customer_id = #{customerId,jdbcType=INTEGER}
        AND draw_param = #{drawParam,jdbcType=VARCHAR}
        AND is_draw = 0 FOR UPDATE
    </select>

</mapper>