<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_exchange_detail">

    <select id="getExchangeList" resultMap="BaseResultMap" parameterType="int">
        <include refid="re_exchange_detail.SELECT_All_Column"/>
        FROM re_exchange_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
        ORDER BY exchange_time DESC
    </select>

    <select id="getTotalNum" resultType="int" parameterType="int">
        SELECT  COUNT(*)
        FROM    re_exchange_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>


</mapper>