<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_fixed_red">

    <select id="remainder" parameterType="Integer" resultType="Integer">
        SELECT fixed_remainder
        FROM re_fixed_red
        WHERE fixed_id = #{redId,jdbcType=INTEGER}
    </select>

</mapper>