<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_mission_sort">
    <select id="getAllSort" resultMap="BaseResultMap">
        <include refid="re_mission_sort.SELECT_All_Column"/>
        FROM    re_mission_sort
        ORDER   BY  sort_order ASC
    </select>

</mapper>