<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_share_mission">

    <select id="selectByPrimaryKeyAndLock" resultMap="BaseResultMap" parameterType="long">
        <include refid="re_share_mission.SELECT_All_Column"/>
        FROM re_share_mission
        WHERE mission_id = #{missionId,jdbcType=BIGINT}
        LIMIT 1
        FOR UPDATE
    </select>

</mapper>