<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_user_bind">
    <resultMap id="BaseResultMap" type="com.iask.red_envelope.model.ReUserBind">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="bind_type" property="bindType" jdbcType="TINYINT"/>
        <result column="bind_id" property="bindId" jdbcType="VARCHAR"/>
        <result column="bind_time" property="bindTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT user_id, bind_type, bind_id, bind_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.iask.red_envelope.model.ReUserBind">
        <include refid="re_user_bind.SELECT_All_Column"/>
        FROM re_user_bind
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.iask.red_envelope.model.ReUserBind">
        DELETE FROM re_user_bind
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.iask.red_envelope.model.ReUserBind">
        INSERT INTO re_user_bind ( user_id, 
          bind_type, bind_id, bind_time )
        VALUES ( #{userId,jdbcType=INTEGER}, 
          #{bindType,jdbcType=TINYINT}, #{bindId,jdbcType=VARCHAR}, #{bindTime,jdbcType=BIGINT} )
    </insert>
    <insert id="insertSelective" parameterType="com.iask.red_envelope.model.ReUserBind">
        INSERT INTO re_user_bind
        <trim prefix="(" suffixOverrides="," suffix=")">
                user_id,
            <if test="bindType != null">
                bind_type,
            </if>
            <if test="bindId != null">
                bind_id,
            </if>
            <if test="bindTime != null">
                bind_time,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{userId,jdbcType=INTEGER},
            <if test="bindType != null">
                #{bindType,jdbcType=TINYINT},
            </if>
            <if test="bindId != null">
                #{bindId,jdbcType=VARCHAR},
            </if>
            <if test="bindTime != null">
                #{bindTime,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO re_user_bind ( user_id, 
          bind_type, bind_id, bind_time )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.userId,jdbcType=INTEGER}, 
            #{item.bindType,jdbcType=TINYINT}, #{item.bindId,jdbcType=VARCHAR}, #{item.bindTime,jdbcType=BIGINT}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.iask.red_envelope.model.ReUserBind">
        UPDATE re_user_bind
        <set>
            <if test="bindType != null">
                bind_type = #{bindType,jdbcType=TINYINT},
            </if>
            <if test="bindId != null">
                bind_id = #{bindId,jdbcType=VARCHAR},
            </if>
            <if test="bindTime != null">
                bind_time = #{bindTime,jdbcType=BIGINT},
            </if>
        </set>
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iask.red_envelope.model.ReUserBind">
        UPDATE re_user_bind
        SET bind_type = #{bindType,jdbcType=TINYINT},
            bind_id = #{bindId,jdbcType=VARCHAR},
            bind_time = #{bindTime,jdbcType=BIGINT}
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>