<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_user_record">

    <select id="selectTopByExtendId" resultMap="BaseResultMap" parameterType="INTEGER">
        <include refid="re_user_record.SELECT_All_Column"/>
        FROM re_user_record
        WHERE extend_id = #{extendId,jdbcType=INTEGER}
        AND envelope_money > 0
        ORDER BY envelope_money DESC
        Limit 10
    </select>

    <select id="selectMaxByExtendId" resultMap="BaseResultMap" parameterType="INTEGER">
        <include refid="re_user_record.SELECT_All_Column"/>
        FROM re_user_record
        WHERE extend_id = #{extendId,jdbcType=INTEGER}
        ORDER BY envelope_money DESC
        Limit 1
    </select>

    <select id="selectByExtendIdAndOpenid" resultMap="BaseResultMap" parameterType="map">
        <include refid="re_user_record.SELECT_All_Column"/>
        FROM re_user_record
        WHERE extend_id = #{extendId,jdbcType=INTEGER}
        AND user_openid = #{openid,jdbcType=VARCHAR}
        Limit 1
    </select>





</mapper>