<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="re_withdraw_detail">
    <select id="getWithdrawListNumByUserId" parameterType="int" resultType="int">
        SELECT COUNT(*)
        FROM re_withdraw_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="getWithdrawListByUserId" parameterType="int" resultMap="BaseResultMap">
        SELECT  withdraw_type, withdraw_status, apply_money, apply_time
        FROM re_withdraw_detail
        WHERE user_id = #{userId,jdbcType=INTEGER}
        ORDER BY  apply_time DESC
    </select>
</mapper>