<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wx_share_red_detail">

    <select id="randomGetRedAndLockByMissionId" resultMap="BaseResultMap" parameterType="long">
        <include refid="wx_share_red_detail.SELECT_All_Column"/>
        FROM    wx_share_red_detail
        WHERE   mission_id = #{missionId,jdbcType=BIGINT}
        AND     red_status = 0
        ORDER   BY rand()
        Limit   1 FOR UPDATE
    </select>

    <select id="getReleaseFailRedDetail" resultMap="BaseResultMap">
        <include refid="wx_share_red_detail.SELECT_All_Column"/>
        FROM    wx_share_red_detail
        WHERE   flag = 2
    </select>

</mapper>