<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wx_share_user">

    <select id="getUserByOpenId" resultMap="BaseResultMap" parameterType="string">
        <include refid="wx_share_user.SELECT_All_Column"/>
        FROM wx_share_user
        WHERE open_id = #{openId,jdbcType=VARCHAR}
        LIMIT 1
    </select>

</mapper>