<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wxmsg_keyword_reply_rule">

    <resultMap id="MinDtoResultMap" type="com.iask.red_envelope.model.dto.WxmsgKeywordReplyRuleMinDto">
        <id column="rule_id" property="ruleId" jdbcType="INTEGER"/>
        <result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="INTEGER"/>
        <result column="match_mode" property="matchMode" jdbcType="TINYINT"/>
        <result column="msg_type" property="msgType" jdbcType="VARCHAR"/>
        <result column="msg_body" property="msgBody" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectMinDtoByRuleId" parameterType="int" resultMap="MinDtoResultMap">
        SELECT rule_id,rule_name,customer_id,match_mode,msg_type,msg_body
        FROM wxmsg_keyword_reply_rule
        WHERE rule_id = #{ruleId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        <include refid="wxmsg_keyword_reply_rule.SELECT_All_Column"/>
        FROM wxmsg_keyword_reply_rule
        ORDER BY rule_id
    </select>

</mapper>