* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    font-family:  "宋体",Calibri, Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    border: none;
}
.content{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 414px;
}

/*顶部红色部分*/
.headerDiv{
    width: 100%;
    text-align: center;
    background-color: #f42a3b ;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.headTitle {
    display: block;
    font-size: 1.7rem;
    letter-spacing: 3px;
    font-weight: 300;
    color: #FEFFFF;
    padding-bottom: 0.2rem;
}

.headDesc {

    display: inline-block;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: #FEFFFF;
    padding-top: 0.5rem;
}

#totalMoney{

    font-size: 1.5rem;
    color: #FEFFFF;
    letter-spacing: 3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*每一条记录 所在的div*/
.oneDetailDiv {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow: auto;
    border-bottom: 1px solid #EFEFEF;

}
.left {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    float: left;
    text-align: left;
    width: 70%;

}

.detailContent {
    display: block;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #303030;
}
.detailTime {
    display: block;
    padding-left: 1rem;
    font-size: 0.5rem;
    color: #B3B3B3;
    letter-spacing: 1px;
}
.right {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    float: left;
    text-align: right;
    width: 30%;

}
.detailMoney {
    display: block;
    margin-top: 0.3rem;
    padding-right: 1rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.footButtonDiv {
    background-color: #F0F0F0;
    width: 100%;
    height: 65px;
    position: fixed;
    bottom:0;
    right: 0;
    padding :0.5rem;
}

.footButtonDiv button {
    width: 100%;
    height: 100%;
    background-color: #FF4850;
    border: none;
    border-radius: 8px;
}

.footButtonDiv button span{
    font-size: 1.3rem;
    color:#FFFFFF;
    letter-spacing: 3px;
    font-weight: 200;
}


:focus{
    outline:0;
}
